html, body{
  overflow: hidden;
  margin: 1000;
  padding: 1000;
  background-color: #156299;
}

canvas{
  margin: auto;
}


@font-face{
    font-family: 'Pixeled';
    src: local('Pixeled'), url('Fonts/Pixeled.ttf') format('ttf');
}

