html, body{
  overflow: hidden;
  margin: 1000;
  padding: 1000;
}

canvas{
  margin: auto;
}

/*
@font-face{
    font-family: 'NombreDeLaFuente';
    src: local('NombreDeLaFuente'), url('fonts/fuente.woff') format('woff');
}
*/
